* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

/*MOBILE*/

header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.img-hamburguesa {
  display: flex;
  margin: 5px;
  border-radius: 5px;
}

.logo-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;

  & {
    .img-logo {
      display: flex;
      width: 100px;
    }
  }
}

.img-portada {
  width: 100%;
  border-radius: 5px;
}

.menu-desplegable {
  display: flex;
}

ul.navegacion {
  width: 100%;
  display: none;
  flex-direction: column;
  color: white;
}

ul.navegacion.show {
  display: flex;
  background-color: var(--Primario, #091021);
}

ul.navegacion li {
  list-style: none;
  margin: 5px;
  padding: 10px;
}

ul.navegacion li:hover {
  background-color: var(--secundario, #f02b2b);
}

section h2 {
  display: flex;
  justify-content: center;
}

section img {
  width: 100%;
  height: 236px;
}

.imagenes-carrusel {
  display: flex;
  overflow-x: scroll;
}

.imagenes-carrusel::-webkit-scrollbar {
  display: none;
}

.card::-webkit-scrollbar {
  display: none;
}

.card:hover {
  transform: perspective(600px) rotateY(45deg);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--Primario, #091021);
  margin: 10px;
  border-radius: 10px;
  height: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card img {
  width: 100%;
  height: 100%;
}

.inferior-card {
  color: white;
  border-radius: 0px 0px 8px 8px;
  width: 193px;
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 0px 0px 8px 8px;
  -moz-border-radius: 0px 0px 8px 8px;
  -ms-border-radius: 0px 0px 8px 8px;
  -o-border-radius: 0px 0px 8px 8px;
}

.precioYboton {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

.btn-jugar {
  display: flex;
  width: 103px;
  height: 35px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  background: var(--secundario, #f34545);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.fat-footer {
  display: flex;
  flex-flow: wrap;
  color: white;
  background: var(--Primario, #091021);
  width: 100%;
  height: 10%;
  padding: 20px 0;
  border-top: 4px solid var(--secundario, #f02b2b);
}

.columna .iconos {
  margin: 10px;
  /* Empuja los iconos hacia abajo */
  display: flex;
  justify-content: center;
}

/* Estilo para los iconos individuales */
.columna .iconos img {
  width: 25px;
  height: 25px;
  filter: grayscale(100%) invert(1);
  -webkit-filter: grayscale(100%) invert(1);
  margin: 10px;
}

.derechos-reservados {
  width: 100%;
  height: 10px;
  background: var(--secundario, #f02b2b);
  text-align: center;
  padding: 10px 0;
}

.columna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3px;
}

.categorias {
  margin-left: 10px;
}

.terminos {
  justify-content: center;
  align-items: center;
  padding: 75px;
}

.blanca {
  margin-top: 10px;
}

/*DESKTOP*/
@media (min-width: 1024px) {
  .btn-menu {
    margin: 30px;
  }
  .img-hamburguesa {
    width: 45px;
  }

  header {
    background-color: #091021;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .nav-contenedor {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .contenedor-buscar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  .buscar {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    border-radius: 8px;
  }

  .input-buscar,
  input[type="text"] {
    padding-left: 20px;
    width: 450px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  #icono-buscar {
    cursor: pointer;
    padding: 5px;
    opacity: 0.7;
    width: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    &:hover {
      opacity: 1;
      transform: rotate(50deg);
      transition: transform 0.5s ease;
      -webkit-transform: scal;
      -moz-transform: scal;
      -ms-transform: scal;
      -o-transform: scal;
      
    }
  }

  .usuario-contenedor {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }

  #imagen-usuario {
    width: 75px;
  }

  .imagen-usuario {
    display: flex;
    width: 75px;
    padding: 20px;
  }

  .contenedor-portada {
    position: relative;
    width: 100%;
    max-width: 100%;
    /* ajusta el ancho según tus necesidades */
    margin: 0 auto;
    background-color: #000000;
    /*Para que se vea oscuro el fondo*/
  }

  .imagen-portada {
    opacity: 0.4;
    /*le damos opacidad a la imagen*/
  }

  /*CORREGIR*/
  .texto {
    display: flex;
    flex-direction: row;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
    padding: 20px;
    z-index: 1;
    /*Aseguraqueeltextoestéenprimerplano*/
    font-size: 24px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  /*fat footer-----------------------------*/

  .fat-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Tres columnas con el mismo ancho */

    color: white;
    padding: 20px 0;
    width: 100%;
    height: 10%;
    flex-shrink: 2;
    border-top: 4px solid var(--secundario, #f34545);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Primario, #091021);
  }

  /* Estilo para cada columna */
  .columna {
    padding: 10px;
    text-align: center;
  }

  .columna h3 {
    margin: 0;
  }

  .columna ul {
    list-style: none;
    padding: 0;
  }

  .columna ul li {
    margin-bottom: 5px;
    line-height: 1.5;
  }

  .columna p {
    color: white;
    text-decoration: none;
  }

  

  p {
    color: #fff;

    /* Body-normal */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  .blanca {
    color: #fff;

    /* H3 */
    font-family: Roboto;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .columna .iconos {
    margin-top: auto;
    margin-top: 10px;
    margin-left: 120px;
    /* Empuja los iconos hacia abajo */
    display: flex;
    justify-content: space-between;
    width: 90px;
    /* Ancho total de los iconos (45px + 45px) */
  }

  /* Estilo para los iconos individuales */
  .columna .iconos img {
    width: 45px;
    height: 45px;
    filter: grayscale(100%) invert(1);
    margin-inline: 20px;
    -webkit-filter: grayscale(100%) invert(1);
  }

  .derechos-reservados {
    width: 100%;
    height: 20px;
    flex-shrink: 0;
    background: var(--secundario, #f34545);
    text-align: center;
    padding: 10px 0;
  }

  .negrita {
    color: #000;

    text-align: center;

    /* Body-negrita */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  /*----------------------------JUEGO*------------------------------/

  /* Estilos de los breadcrumbs */
  .breadcrumbs {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
  }

  .breadcrumbs a {
    text-decoration: none;
    color: #f34545;
    /* Color de los enlaces */
  }

  .breadcrumbs a:hover {
    text-decoration: underline;
  }

  .breadcrumbs span {
    color: #f34545;
    /* Color del separador y del elemento actual */
  }

  /* Estilos para el símbolo de separación (por ejemplo, ">") */
  .breadcrumbs span::before {
    content: ">";
    margin: 0 5px;
    /* Espaciado entre el símbolo y los enlaces */
  }

  /*-------------------imagen-------------------------*/

  .juego-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
  }

  .juego {
    display: flex;
    flex-direction: column;
    border: #b9b9b9 1px solid;
    border-radius: 20px;
    background-color: #cccccc;
    padding: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .img-juego,
  .imagen-juego {
    width: 700px;
  }

  .estrellas-contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .imagen-estrella {
    width: 30px;
  }

  .imagen-redes {
    width: 30px;
    margin: 3px;
  }
}

/*----------------------titulo---------*/
.contenedor {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

/* Estilos del h2 */
h2 {
  text-align: center;
  font-family: Roboto;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #091021;
  margin: 5px;
  padding: 5px 5px;
}

.comentarios {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.comentario:hover{
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
}

/*NUEVO*/
.comentarios h3 {
  display: flex;
  margin-left: 20px;
}

.btn-comentario {
  cursor: pointer;
  display: flex;
  width: 200px;
  height: 35px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  color: #fff;
  background: #F34545;
  margin-left: 250px;
  margin-bottom: 20px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  &:hover ;
{
    background-color: #d76e6e;
  }
}

.btn-comentario:hover{
  animation: blink 1s infinite;
    -webkit-animation: blink 1s infinite;
}
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      background-color:#091021;
    }
    100% {
      opacity: 1;
    }
  
}




.comentario {
  width: 700px;
  height: 113px;
  border-radius: 5px;
  background: var(--Secuandario-L2-final, #e3d8d8);
  display: flex;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.comentario p {
  color: #091021;
  margin-top: 50px;
}

.comentario div p {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: start;
}

.youtube {
  width: 10px;
  height: 10px;
}

/*ESTRELLAS*/
.comentario .cont-estrellas img {
  width: 20px;
}
.cont-estrellas {
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-left: 250px;
}

.button {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  overflow: hidden;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #e74c3c;
  /*Colordelasserpentinas*/
  border-radius: 50%;
  transform: translateY(-150%);
  transition: transform 2s ease, width 0.5s ease;
  -webkit-transform: translateY(-150%);
  -moz-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  -o-transform: translateY(-150%);
  -webkit-transition: transform 2s ease, width 0.5s ease;
  -moz-transition: transform 2s ease, width 0.5s ease;
  -ms-transition: transform 2s ease, width 0.5s ease;
  -o-transition: transform 2s ease, width 0.5s ease;
}

.button:active::before {
  transform: translateY(150%) rotate(720deg);
  /*Rotacióndelasserpentinas*/
  width: 200px;
  -webkit-transform: translateY(150%) rotate(720deg);
  -moz-transform: translateY(150%) rotate(720deg);
  -ms-transform: translateY(150%) rotate(720deg);
  -o-transform: translateY(150%) rotate(720deg);
}

.button:hover {
  background-color: #091021; /* Cambio de color cuando se pasa el mouse */
}

.instrucciones h3 {
  color: #ffffff;
}
.instrucciones {
  background-color: #091021;
  width: 460px;
  height: 200px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}


.comentarios-instrucciones-videos {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-between;
  margin-bottom: 200px;
}

.seccion-derecha {
  display: flex;
  flex-direction: column;
}

.cont-video {
  width: 90px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Ajusta la altura al tamaño de la ventana */
}

.youtube-button {
  background-color: #ff0000;
  /*ColordefondodelbotóndeYouTube*/color: #ffffff;
  /*Colordeltexto*/border: none;
  padding: 10px 20px;
  border-radius: 24px;
  /*Formaredondeadadelbotón*/font-size: 16px;
  cursor: pointer;
  
}

.youtube-button:hover {
  background-color: #cc0000; /* Cambio de color al pasar el cursor */
}

.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.videos .imagen-videos {
  display: flex;
  flex-direction: column;
  width: 342px;
  height: 156px;

  &:hover {
    cursor: pointer;
    z-index: 50;
    background-color: #000;
    filter: brightness(1.2);
    
}
}

.youtube-logo {
  position: absolute;
}

.columna-link {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px;
  text-align: start;
}

.columna-link a{
  color: #00f;
  font-size: 1.3rem;
}


